* {
    font-family: 'Comfortaa', serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

*:focus-visible {
    outline: 5px solid var(--ui-white);
}

body {
    --ui-white: #dcdcdc;
    --ui-black: #191919;

    display: flex;
    flex-direction: column;
    height: 100dvh;
    background-color: var(--ui-black);
    color: var(--ui-white);
}

main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-bottom: auto;
}

main > h1 {
    margin-top: 50px;
    text-align: center;
}

button {
    border: 1px solid var(--ui-white);
    padding: 7px 14px;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    color: var(--ui-white);
    border-radius: 0;
    line-height: 1.5;
}

button.dark {
    border-color: #121212;
    color: #121212;
}

button.light:focus-visible {
    outline: 5px solid var(--ui-white);
}

button.dark:focus-visible {
    outline: 5px solid var(--ui-black);
}

button:disabled {
    background: #424242;
}

button.dark:disabled {
    background: #757575;
}

button:not(:disabled) {
    background: none;
    cursor: pointer;
}

button.link {
    text-transform: none;
    text-decoration: underline;
    border: none;
    padding: 0;
}

/* This is only needed when offline and font does not load */
strong {
    font-weight: bold;
}

svg {
    transition: 350ms;
}

svg:hover {
    transform: scale(1.1);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    min-height: fit-content;
    margin-top: 5px;
}

a {
    color: #d07e9e;
}

a.icon {
    text-decoration: none;
}

li {
    margin-left: 25px;
}

canvas {
    outline: 1px solid var(--ui-white);
    max-width: 100%;
    user-select: none;
    -webkit-user-select: none;
    touch-action: none;
}

td {
    padding: 5px 5px;
}

#wrapper {
    width: 600px;
    max-width: 95%;
    max-height: 600px;
    aspect-ratio: 1 / 1;
    position: relative;
}

#overlay {
    width: 600px;
    height: 600px;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    color: var(--ui-white);
}

#buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 95%;
    max-width: 600px;
    justify-content: center;
    position: relative;
}

@media (max-width: 500px) {
    #buttons {
        justify-content: left;
    }
}

#settings-button {
    position: absolute;
    right: 0;
}

#settings {
    width: 600px;
    max-width: 100%;
    aspect-ratio: 1/1;
    outline: 1px solid var(--ui-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    user-select: none;
    -webkit-user-select: none;
}

#settings input,
#settings button {
    width: 200px;
}

#month-span {
    text-align: center;
    min-width: 110px;
    font-size: 18px;
}

.removed {
    display: none !important;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    display: flex;
    gap: 10px;
    padding: 0 0 5px 10px;
    flex-wrap: wrap;
    max-width: 35%;
}

.footer-center {
    padding-bottom: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
}

.eye-background {
    filter: url(#glow) blur(1px);
}

.credits {
    font-size: 12px;
    margin: 0 0 25px 0;
}

@media (prefers-color-scheme: light) {
    *:focus-visible {
        outline: 5px solid var(--ui-black);
    }

    body {
        background-color: var(--ui-white);
        color: var(--ui-black);
    }

    button.themed {
        border-color: #121212;
        color: #121212;
    }

    canvas,
    #settings {
        border: 1px solid var(--ui-black);
    }

    a {
        color: #1a2b3c;
    }
}
